name: Build SteamAPI Solution

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: List files
      run: |
        ls -R
      shell: bash

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore InfoPanel.SteamAPI/InfoPanel.SteamAPI.csproj

    - name: Build
      run: dotnet build InfoPanel.SteamAPI/InfoPanel.SteamAPI.csproj --no-restore --configuration Release

    - name: Publish
      run: dotnet publish InfoPanel.SteamAPI/InfoPanel.SteamAPI.csproj --configuration Release --output ./publish_output

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: InfoPanel-SteamAPI-Build
        path: ./publish_output
